/* MEDIA QUERY
0-600px: Phone
600px-900px: Tablet portrait
900px-1200px: Tablet Landscape
1200px-1800px: Normal desktop- all your initial design falls here, so you
don't need a media query
1800px+: Bigger desktop

MEDIA QUERY Manager
$breakpoint: phone
$breakpoint: tab-port
$breakpoint: tab-land
$breakpoint: big-desk

1em =16px default for every browser..em is better for
media queries
*/
/* basic browser reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (min-width: 112.5rem) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.7;
  padding: 10px;
}

@media (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

.btn-animated {
  -webkit-animation: names 0.8s ease 1s;
          animation: names 0.8s ease 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes names {
  0% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes names {
  0% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50rem);
            transform: translateX(-50rem);
  }
  75% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0.5;
    color: orangered;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50rem);
            transform: translateX(-50rem);
  }
  75% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0.5;
    color: orangered;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(1.3) scaleY(1.6);
            transform: scaleX(1.3) scaleY(1.6);
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(1.3) scaleY(1.6);
            transform: scaleX(1.3) scaleY(1.6);
  }
  100% {
    opacity: 1;
  }
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.margin-bottom-big {
  margin-bottom: 5rem;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

.margin-top-small {
  margin-top: 5rem;
}

.margin-bottom-sm {
  margin-bottom: 0.8rem;
}

.tertiary-heading {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@media (min-width: 112.5rem) {
  .tertiary-heading {
    font-size: 3rem;
  }
}

@media (min-width: 112.5rem) {
  .paragraph-1 {
    font-size: 2rem;
  }
}

.paragraph-1:not(:last-child) {
  margin-bottom: 2.5rem;
}

.btn-text:visited, .btn-text:link {
  color: rgba(14, 158, 14, 0.918);
  text-decoration: none;
  border-bottom: 1px solid rgba(14, 158, 14, 0.918);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: rgba(14, 158, 14, 0.918);
  color: white;
  border-radius: 2px;
  padding: 5px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692);
}

.btn-text i {
  margin-left: 5px;
}

.header {
  /* vh-viewport height */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(27, 27, 26, 0.5)), to(rgba(37, 231, 157, 0.795))), url("https://africasveryown.com/wp-content/uploads/2021/06/pic10.png");
  background-image: linear-gradient(to right, rgba(27, 27, 26, 0.5), rgba(37, 231, 157, 0.795)), url("https://africasveryown.com/wp-content/uploads/2021/06/pic10.png");
  background-size: cover;
  height: 95vh;
  background-position: top;
  /* coordinate (x y, x y,x y,x y) */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }
}

.header .logo-box {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.header .logo {
  height: 5rem;
  border-radius: 10%;
}

@media (min-width: 112.5rem) {
  .header .logo {
    height: 13rem;
  }
}

.header .text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  color: white;
  text-transform: uppercase;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
}

@media (max-width: 37.5em) {
  .header .text-box {
    top: 50%;
  }
}

.header .text-box .tourex-1 {
  display: block;
  font-size: 5rem;
  letter-spacing: 3.8rem;
  font-weight: 700;
  -webkit-animation-name: moveleft;
          animation-name: moveleft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@media (max-width: 37.5em) {
  .header .text-box .tourex-1 {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .header .text-box .tourex-1 {
    -webkit-animation: none;
            animation: none;
    letter-spacing: 2rem;
  }
}

@media (min-width: 112.5rem) {
  .header .text-box .tourex-1 {
    font-size: 15rem;
  }
}

.header .text-box .tourex-2 {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 0.7rem;
  -webkit-animation: moveright 1.5s ease-in-out infinite;
          animation: moveright 1.5s ease-in-out infinite;
  margin-bottom: 0.5rem;
}

@media (min-width: 112.5rem) {
  .header .text-box .tourex-2 {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .header .text-box .tourex-2 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
  display: inline-block;
  border-radius: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  margin-top: 1.5rem;
  border: none;
}

.btn-white {
  background-color: white;
  color: #777;
}

@media (min-width: 112.5rem) {
  .btn-white {
    font-size: 3rem;
  }
}

.btn-green {
  background-color: green;
  color: white;
}

@media (min-width: 112.5rem) {
  .btn-green {
    font-size: 3rem;
  }
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(27, 27, 26, 0.5);
          box-shadow: 0 10px 20px rgba(27, 27, 26, 0.5);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(27, 27, 26, 0.5);
          box-shadow: 0 5px 10px rgba(27, 27, 26, 0.5);
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 112.5rem) {
  .btn-text {
    font-size: 3rem;
    margin-top: 1.5rem;
  }
}

.btn-white::after {
  background-color: white;
  color: #777;
}

.btn-green::after {
  background-color: green;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.3) scaleY(1.6);
          transform: scaleX(1.3) scaleY(1.6);
  opacity: 0;
}

.section_about {
  background-color: #f0eeee;
  padding: 10rem 0;
  margin-top: -20vh;
}

@media (min-width: 112.5rem) {
  .section_about {
    padding: 15rem 0 25rem 0;
  }
}

@media (max-width: 37.5em) {
  .section_about {
    padding: 25rem 0 30rem 0;
  }
}

.section_about__header,
.section_tour__header {
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(rgba(15, 196, 15, 0.76)), to(rgba(4, 51, 4, 0.863)));
  background: linear-gradient(to right, rgba(15, 196, 15, 0.76), rgba(4, 51, 4, 0.863));
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  letter-spacing: 3px;
  font-size: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (min-width: 112.5rem) {
  .section_about__header,
  .section_tour__header {
    font-size: 5rem;
  }
}

@media (max-width: 56.25em) {
  .section_about__header,
  .section_tour__header {
    font-size: 2rem;
  }
}

@media (max-width: 37.5em) {
  .section_about__header,
  .section_tour__header {
    font-size: 1.5rem;
  }
}

.section_about__header:hover,
.section_tour__header:hover {
  -webkit-transform: skewX(15deg) skewY(2deg) scale(1.1);
          transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: 5px 10px 10px rgba(22, 21, 21, 0.205);
}

.first-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  grid-gap: 1rem;
}

@media (min-width: 112.5rem) {
  .first-grid {
    grid-gap: 5rem;
  }
}

@media (max-width: 37.5em) {
  .first-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.feature {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(27, 27, 26, 0.5)), to(rgba(37, 231, 157, 0.795))), url("https://africasveryown.com/wp-content/uploads/2021/06/pic10.png");
  background-image: linear-gradient(to right, rgba(27, 27, 26, 0.5), rgba(37, 231, 157, 0.795)), url("https://africasveryown.com/wp-content/uploads/2021/06/pic10.png");
  background-size: cover;
  padding: 10rem 5rem 10rem 5rem;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -5rem;
  z-index: 3;
}

@media (min-width: 112.5rem) {
  .feature {
    margin-top: -15rem;
  }
}

.feature__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media (min-width: 112.5rem) {
  .feature__row {
    padding: 10rem 5rem;
  }
}

@media (max-width: 37.5em) {
  .feature__row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.feature__row__1 {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 7px 10px 10px rgba(27, 27, 26, 0.5);
          box-shadow: 7px 10px 10px rgba(27, 27, 26, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1;
}

@media (max-width: 37.5em) {
  .feature__row__1 {
    width: 70%;
    margin: auto;
  }
}

.feature__row__1 i {
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 231, 157, 0.795)), to(rgba(10, 102, 10, 0.863)));
  background: linear-gradient(to right, rgba(37, 231, 157, 0.795), rgba(10, 102, 10, 0.863));
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

@media (min-width: 112.5rem) {
  .feature__row__1 i {
    font-size: 6rem;
  }
}

.feature__row__1 h3 {
  text-transform: uppercase;
  font-size: 1rem;
}

@media (min-width: 112.5rem) {
  .feature__row__1 h3 {
    font-size: 3rem;
  }
}

@media (min-width: 112.5rem) {
  .feature__row__1 p {
    font-size: 3rem;
  }
}

.feature__row__1:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  z-index: 5;
}

.composition {
  position: relative;
}

.composition__img {
  width: 55%;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.774);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.774);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1;
  outline-offset: 0.7rem;
}

.composition__img-p1 {
  position: absolute;
  left: 0;
  top: -1.5rem;
}

.composition__img-p2 {
  position: absolute;
  right: 0;
  top: 1.1rem;
}

.composition__img-p3 {
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.composition__img:hover {
  -webkit-transform: scale(1.1) translateY(-0.6rem);
          transform: scale(1.1) translateY(-0.6rem);
  outline: 0.5rem solid rgba(9, 160, 9, 0.795);
  z-index: 5;
  -webkit-box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.774);
          box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.774);
}

.composition:hover .composition__img:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section_tour {
  background-color: #f0eeee;
  padding: 10rem 20rem;
  margin-top: -5rem;
  text-align: center;
}

@media (min-width: 112.5rem) {
  .section_tour {
    padding: 30rem 10rem 15rem 10rem;
    margin-top: -15rem;
  }
}

@media (max-width: 56.25em) {
  .section_tour {
    padding: 10rem 3rem;
  }
}

.section_tour_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

@media (max-width: 56.25em) {
  .section_tour_row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    grid-gap: 5rem;
  }
}

.card {
  -webkit-perspective: 100rem;
          perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 32rem;
}

@media (min-width: 112.5rem) {
  .card {
    height: 70rem;
    font-size: 3rem;
  }
}

.card_side {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.596);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.596);
  height: 32rem;
}

@media (min-width: 112.5rem) {
  .card_side {
    height: 70rem;
  }
}

.card_side__front {
  background-color: white;
}

.card_side__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card_side__back_1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730);
}

.card_side__back_2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(14, 158, 14, 0.918)), to(#065306));
  background-image: linear-gradient(to bottom right, rgba(14, 158, 14, 0.918), #065306);
}

.card_side__back_3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(rgba(0, 0, 255, 0.7)));
  background-image: linear-gradient(to bottom right, #2998ff, rgba(0, 0, 255, 0.7));
}

.card:hover .card_side__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card_side__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card .card_picture {
  background-size: cover;
  height: 13rem;
}

@media (min-width: 112.5rem) {
  .card .card_picture {
    height: 30rem;
    font-size: 3rem;
  }
}

.card .card_picture_1, .card .card_picture_2, .card .card_picture_3 {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.card .card_picture_1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url("https://images.unsplash.com/photo-1628171288978-6dad8af9505d?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU2fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url("https://images.unsplash.com/photo-1628171288978-6dad8af9505d?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU2fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-blend-mode: hue;
}

.card .card_picture_2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(14, 158, 14, 0.918)), to(rgba(14, 158, 14, 0.918))), url("https://i.natgeofe.com/n/8f633a47-1da9-4873-b851-0ed1bdd93e9a/hiking-survival-day-hike-alone.jpg?w=636&h=424");
  background-image: linear-gradient(to bottom right, rgba(14, 158, 14, 0.918), rgba(14, 158, 14, 0.918)), url("https://i.natgeofe.com/n/8f633a47-1da9-4873-b851-0ed1bdd93e9a/hiking-survival-day-hike-alone.jpg?w=636&h=424");
  background-blend-mode: screen;
}

.card .card_picture_3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#2998ff)), url("https://ak.picdn.net/shutterstock/videos/5362829/thumb/3.jpg");
  background-image: linear-gradient(to bottom right, #2998ff, #2998ff), url("https://ak.picdn.net/shutterstock/videos/5362829/thumb/3.jpg");
  background-blend-mode: screen;
}

.card_heading {
  font-size: 1.7rem;
  color: white;
  position: absolute;
  right: 0;
  top: 5rem;
  text-transform: uppercase;
  width: 75%;
}

@media (min-width: 112.5rem) {
  .card_heading {
    font-size: 3rem;
  }
}

.card_heading_span {
  padding: 1rem 0.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card_heading_span_1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.7)), to(rgba(255, 119, 48, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.7));
}

.card_heading_span_2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(14, 158, 14, 0.7)), to(rgba(14, 158, 14, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(14, 158, 14, 0.7), rgba(14, 158, 14, 0.7));
}

.card_heading_span_3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.7)), to(rgba(41, 152, 255, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.7), rgba(41, 152, 255, 0.7));
}

.card_details {
  width: 70%;
  margin: auto;
}

.card_details ul {
  color: #777;
  list-style: none;
}

.card_details ul li {
  padding: 0.7rem;
}

.card_details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(119, 119, 119, 0.6);
}

@media (min-width: 112.5rem) {
  .card_details ul li:not(:last-child) {
    border-bottom: none;
  }
}

.card_cta {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.card_price_box_tag {
  font-size: 5rem;
  font-weight: 100;
}

@media (max-width: 56.25em) {
  .card {
    height: auto;
    margin: auto;
    width: 50%;
  }
}

@media (max-width: 56.25em) and (max-width: 37.5em) {
  .card {
    width: 100%;
  }
}

@media (max-width: 56.25em) {
  .card_side {
    height: auto;
    position: relative;
    border-radius: 0;
    padding-bottom: 12rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card_side__front {
    background-color: white;
  }
  .card_side__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    padding: 4rem;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    margin-top: -12rem;
    border-radius: 0 0 5px 5px;
  }
  .card:hover .card_side__front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card:hover .card_side__back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card_cta {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    text-transform: uppercase;
    width: 100%;
    padding: 4rem;
  }
  .card_price_box_tag {
    font-size: 7rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }
}

.section-stories {
  padding: 4rem 0;
  position: relative;
}

.story {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
  padding: 4rem 2rem 6rem 2rem;
  padding-left: 7rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

@media (min-width: 112.5rem) {
  .story {
    padding: 10rem 12rem 20rem 12rem;
  }
}

.story > * {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

@media (min-width: 112.5rem) {
  .story p {
    font-size: 2rem;
  }
}

.story h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 112.5rem) {
  .story h3 {
    font-size: 3rem;
  }
}

.story-shape {
  width: 10rem;
  height: 10rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-1rem) skewX(12deg);
          transform: translateX(-1rem) skewX(12deg);
  position: relative;
}

@media (min-width: 112.5rem) {
  .story-shape {
    width: 20rem;
    height: 20rem;
    -webkit-transform: translateX(-3rem) skewX(12deg);
            transform: translateX(-3rem) skewX(12deg);
  }
}

.story-img {
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.story-figcaption {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.story:hover .story-figcaption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.story:hover .story-img {
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.bg-video-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-booking {
  padding: 8rem;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(14, 158, 14, 0.918)), to(rgba(87, 206, 87, 0.918)));
  background: linear-gradient(to right bottom, rgba(14, 158, 14, 0.918), rgba(87, 206, 87, 0.918));
}

@media (min-width: 112.5rem) {
  .section-booking {
    padding: 12rem;
  }
}

@media (max-width: 37.5em) {
  .section-booking {
    padding: 4rem;
  }
}

.section-booking-form {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("http://blog.bookingsnigeria.com/wp-content/uploads/2016/05/obudu-2-1170x550.jpg");
  background-size: cover;
  height: 35rem;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

@media (min-width: 112.5rem) {
  .section-booking-form {
    height: 55rem;
  }
}

@media (max-width: 37.5em) {
  .section-booking-form {
    height: 40rem;
  }
}

.section-booking-content {
  width: 50%;
  padding: 2.2rem;
  height: 32rem;
}

@media (max-width: 37.5em) {
  .section-booking-content {
    padding: 1rem;
  }
}

.form {
  margin-top: 1.5rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-input {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  width: 90%;
  border-bottom: 3px solid transparent;
  display: block;
  font-size: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (min-width: 112.5rem) {
  .form-input {
    font-size: 3rem;
    padding-top: 2rem;
  }
}

.form-input::-webkit-input-placeholder {
  color: grey;
  opacity: 0.7;
}

.form-input:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid rgba(14, 158, 14, 0.918);
}

.form-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form-label {
  font-size: 0.9rem;
  margin-left: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 112.5rem) {
  .form-label {
    font-size: 2rem;
  }
}

.form-input:placeholder-shown + .form-label {
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.form-radio {
  display: inline-block;
  width: 49%;
}

@media (max-width: 37.5em) {
  .form-radio {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
}

.form-label-radio {
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem;
}

@media (min-width: 112.5rem) {
  .form-label-radio {
    font-size: 2rem;
    padding-left: 4rem;
  }
}

.form-radio-span {
  width: 1.8rem;
  height: 1.8rem;
  border: 5px solid rgba(14, 158, 14, 0.918);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.24rem;
}

@media (min-width: 112.5rem) {
  .form-radio-span {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 37.5em) {
  .form-radio-span {
    width: 2rem;
    height: 2rem;
  }
}

.form-radio-span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(14, 158, 14, 0.918);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (min-width: 112.5rem) {
  .form-radio-span::after {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media (max-width: 37.5em) {
  .form-radio-span::after {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.form-input-radio:checked + .form-label-radio .form-radio-span::after {
  opacity: 1;
}

.form-input-radio {
  display: none;
}

.form-bn {
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 112.5rem) {
  .form-bn {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    padding: 2rem;
  }
}

@media (max-width: 37.5em) {
  .form-bn {
    font-size: 0.7rem;
  }
}

.form-btn {
  margin-top: 3rem;
}

.footer {
  background-color: #333;
  padding: 5rem 0;
}

.footer-row {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

@media (max-width: 37.5em) {
  .footer-row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer-contain {
  text-align: center;
}

.footer-logo {
  width: 7rem;
  margin-bottom: 3rem;
}

@media (min-width: 112.5rem) {
  .footer-logo {
    width: 15rem;
    margin-bottom: 5rem;
  }
}

.footer-item {
  display: inline-block;
}

.footer-item:not(:last-child) {
  margin-right: 0.7rem;
}

@media (min-width: 112.5rem) {
  .footer-item:not(:last-child) {
    margin-right: 3rem;
  }
}

.footer-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 112.5rem) {
  .footer-link {
    font-size: 2rem;
  }
}

@media (max-width: 37.5em) {
  .footer-link {
    font-size: 1rem;
  }
}

.footer-link:visited, .footer-link:link {
  color: white;
}

.footer-link:hover, .footer-link:active {
  color: rgba(14, 158, 14, 0.918);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  -webkit-transform: rotate(5deg) scale(1.2);
          transform: rotate(5deg) scale(1.2);
}

.footer-nav {
  list-style: none;
  border-top: 2px solid white;
  padding-top: 1rem;
  display: inline-block;
}

@media (max-width: 37.5em) {
  .footer-nav {
    display: block;
    text-align: center;
    border-top: none;
    margin-bottom: 1rem;
  }
}

.footer-copyright {
  border-top: 2px solid white;
  padding-top: 1rem;
  display: inline-block;
}

@media (min-width: 112.5rem) {
  .footer-copyright {
    font-size: 2rem;
  }
}

.nav {
  font-family: inherit;
}

.nav-input {
  display: none;
}

.nav-label {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 4;
  cursor: pointer;
}

.nav-background {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: radial-gradient(rgba(37, 231, 157, 0.795), rgba(14, 158, 14, 0.918));
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1), -webkit-transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.nav-contain {
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  width: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav-list {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  list-style: none;
}

.nav-item {
  margin-bottom: 2rem;
}

.nav-link:visited, .nav-link:link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: 1rem 2rem;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 112.5rem) {
  .nav-link:visited, .nav-link:link {
    font-size: 5rem;
  }
}

.nav-link:visited span, .nav-link:link span {
  margin-right: 0.8rem;
}

.nav-link:hover, .nav-link:active {
  background-position: 100%;
  color: rgba(14, 158, 14, 0.918);
}

.nav-input:checked ~ .nav-background {
  -webkit-transform: scale(890);
          transform: scale(890);
}

.nav-input:checked ~ .nav-contain {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.nav-button {
  position: relative;
  margin-top: 2.3rem;
  margin-left: 1.3rem;
}

.nav-button, .nav-button::before, .nav-button::after {
  width: 2rem;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.884);
  display: inline-block;
}

.nav-button::before, .nav-button::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-button::before {
  top: -0.7rem;
}

.nav-button::after {
  top: 0.7rem;
}

.nav-label:hover .nav-button::before {
  top: -1rem;
}

.nav-label:hover .nav-button::after {
  top: 1rem;
}

.nav-input:checked + .nav-label .nav-button {
  background-color: transparent;
}

.nav-input:checked + .nav-label .nav-button::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.nav-input:checked + .nav-label .nav-button::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.pop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pop:target {
  opacity: 1;
  visibility: visible;
}

.pop-close:link, .pop-close:visited {
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pop-close:link:hover, .pop-close:visited:hover {
  color: #ff7730;
}

.pop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  margin: auto;
  width: 75%;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  display: table;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

@media (max-width: 37.5em) {
  .pop-content {
    display: block;
  }
}

.pop:target .pop-content {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.pop-left {
  width: 33.3333%;
  display: table-cell;
}

@media (max-width: 37.5em) {
  .pop-left {
    display: block;
    width: 100%;
  }
}

.pop-right {
  width: 66.66666%;
  display: table-cell;
  vertical-align: middle;
  padding: 2rem 3rem;
}

@media (max-width: 37.5em) {
  .pop-right {
    display: block;
    width: 100%;
  }
}

.pop-pic {
  width: 100%;
  display: block;
  height: 14rem;
}

@media (max-width: 37.5em) {
  .pop-pic:last-child {
    display: none;
  }
}

.pop-text {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-column-rule: 1px solid rgba(119, 119, 119, 0.5);
          column-rule: 1px solid rgba(119, 119, 119, 0.5);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -moz-hyphens: auto;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

@media (max-width: 37.5em) {
  .pop-text {
    margin-bottom: 1rem;
  }
}

.pop-info {
  margin: 0.9rem 0;
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 37.5em) {
  .pop-info {
    margin: 1rem 0;
  }
}

.pop-button {
  font-size: 2rem;
  font-weight: 300;
  font-family: inherit;
}

@media (max-width: 37.5em) {
  .pop-button {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */