$white: white;
$ash: #777;
$grey: #f7f7f7;
$light_grey: #f0eeee;
$lemon: rgba(14, 158, 14, 0.918);
$light_green: rgba(37, 231, 157, 0.795);
$yellow_light: #ffb900;
$yellow_deep: #ff7730;

$blue_light: #2998ff;
$blue_deep: #5643fa;
