.footer {
  background-color: #333;
  padding: 5rem 0;

  &-row {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  &-contain {
    text-align: center;
  }

  &-logo {
    width: 7rem;
    margin-bottom: 3rem;
  }

  &-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.7rem;
    }
  }

  &-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: inline-block;
    transition: all 0.3s;

    &:visited,
    &:link {
      color: white;
    }

    &:hover,
    &:active {
      color: $lemon;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
      transform: rotate(5deg) scale(1.2);
    }
  }

  &-nav {
    list-style: none;
    border-top: 2px solid white;
    padding-top: 1rem;
    display: inline-block;
  }

  &-copyright {
    border-top: 2px solid white;
    padding-top: 1rem;
    display: inline-block;
  }
}
