.btn-animated {
  animation: names 0.8s ease 1s;
  animation-fill-mode: backwards;
}

@keyframes names {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  75% {
    transform: translateX(200px);
    opacity: 0.5;
    color: red;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  75% {
    transform: translateX(-10px);
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
